.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  background: #f0f0f0;
  width: 80%;
  height: 150px;
  align-items: center;
  justify-content: space-around;
}

.container > .img {
  display: flex;
  margin: 10px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.nameMenu {
  text-align: center;
}

.quantity {
  display: flex;
  flex-direction: row;

  p {
    margin: 10px;
  }

  button {
    border: none;
    font-size: 30px;
    font-size: 20px;
  }

  .removeMenu {
    font-size: 35px;
  }
}
