.staff-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-page {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
